.big-img-container{
	margin: 40px;
	height: 400px;
}

.big-img-container img{
	height: 400px;
	width: 300px;
}

.details-container{
	height: 400px;
	margin-left: 20px;
	margin-top: 40px;
}

.details-height{
	height: 500px;
}

.description-height{
	height: 400px;
}

.borderer{
	border: 1px solid white;
}

.size li{
	float: left;
	display: block;
	margin: 5px;
	border: 1px solid grey;
	width: 25px;
	height: 25px;
	text-align: center;
}

.checkboxer li{
	float: left;
	list-style-type: none;
}

checkbox{
	background-color: black;
}

.add-to-cart a{
	display: block;
	background-color: #333;
	height: auto;
	width: auto;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.add-to-cart{
	margin-top: 20px;
}

#border{
	border-right: 1px solid black;
}

.desc{
	margin-left: 35px;
}

#size{
	margin-left: 50px;
}