.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*='col-']{
	border: 1px solid none;
	float: left;
	box-sizing: border-box;
}


.menu-height{
	height: 60px;
	background-color: #333;
}
.slider-height{height: auto;}
.info-height{height: 150px;}
.list-height{height: 410px;}
.footer-height{height: 250px;}
.auto-height{height: auto;}

.row:after{
	content: '';
	clear: both;
	display: block;
}


.logo a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin-left: 15px;
	margin-bottom: 0px;
	display: block;
	padding: 5px;
	font-size: 30px;
}

.search{
	padding: 15px;
}

.search input[type=text]{
	border: 1px solid #ccc;
	height: 25px;
	border-radius: 5px;
	background-color: #ddd;
}


.menu-ul ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.menu-ul ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


.menu-ul ul li {
	float: left;
}

.menu-ul ul li a:hover {
	background-color: #111;
	border-bottom: 2px solid yellow;
}

@media screen and (max-width: 600px) {
	ul li{
		float: none;
	}
}

@media screen and (max-width: 600px) {
	[class*='col-']{
		width: 100%;
	}
	.menu-height{
		height: auto;
	}
}




.icon{
	text-align: center;
	margin-top: 10px;
	color: white;
}

.title{
	text-align: center;
	margin-top: 0px;
	color: white;
}

.subtitle{
	text-align: center;
	margin-bottom: 5px;
	color: white;
}

.info-dark{
	background-color: #333;
	margin-top: 20px;
}

.border-right{
	border-right: 2px solid white;
}

.gocenter{
	text-align: center;
	color: white;
}


.payment-logo{
	margin: 10px;
}

.link ul li{
	text-decoration: none;
	color: white;
	float: none;
	background-color: none;
}

.impression{
	height: auto;
	margin-top: 30px;
}

.p-list{
	margin-top: 20px;
}